.login_card {
    background-color: var(--white);
}

.heading {
    font-family: var(--poppins);
}

.heading > h1 {
    color: var(--primary);
    font-size: 16px;
    font-weight: 500;
    padding-top: 0.5rem;
}

.heading > p {
    color: var(--primary);
    font-size: 13px;
}

.top_row {
    background-color: var(--background-primary);
    padding-inline: 20px;
}