.container h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--label);
    padding-bottom: 1.25rem;
    margin: 0;
}

.input_holder {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.password_input {
    position: relative;
    display: flex;
    align-items: center;
}

.password_input > div:first-child {
    flex: 1;
}

.password_input input {
    padding-right: 40px;
}

.eye {
    position: absolute;
    top: 32px;
    right: 12px;
}