.loader {
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
}

.center_div {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  -webkit-box-shadow:0 0 50px var(--primary); 
  -moz-box-shadow: 0 0 50px var(--primary); 
  box-shadow: 0 0 50px var(--primary);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_div div {
  font-size: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  border: 2px solid var(--loader-border);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation-name: inner-center_div;
  -webkit-animation-duration: 4s; 
  -webkit-animation-iteration-count: infinite; 
  animation-name: inner-center_div;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes inner-center_div {
  0% {transform: scale(1.0);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}
  
  
@keyframes inner-center_div {
  0% {transform: scale(1.0);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}