.container {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 45px;
}

.subtext {
    font-size: 20px;
    font-weight: 500;
    color: var(--label);
    margin: 0;
    padding-top: 1rem;
}

.text {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    justify-content: center;
}

.text > p {
    margin: 0;
    color: var(--label);
    font-size: 88px;
    font-weight: 500;
}

.text > svg {
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}